
.weather-city {
    padding: 30px; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
    color: #18211e; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-xl */
    border-radius: 12px;
    border: 1px solid #d1d5db; 
    background-color: white; 
  }
  
  .city-name {
    font-weight: bold; 
    font-size: 20px; 
  }
  
  .city-name:hover {
    color: #098d4b; 
  }
  
  .weather-info {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  .weather-details {
    display: flex;
    flex-direction: row;
    gap: 25px; 
    align-items: center; 
  }
  
  .temperature {
    font-size: 54px; 
    font-weight: bold; 
  }
  
  .weather-description {
    display: flex;
    flex-direction: column; 
  }
  
  .description {
    font-weight: bold; 
    font-size: 18px; 
  }
  
  .feels-like {
    color: #098d4be6; 
  }
  
  .separator {
    border-color: #d1d5db; 
  }
  
  .weather-stats {
    width: 100%; 
    overflow-x: auto; 
  }
  .stats-grid {
    display: inline-grid; 
    grid-template-columns: repeat(5, 1fr);
    gap: 1.25rem;
    justify-content: space-between; 
    white-space: nowrap; 
  }
  .stat-item {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    min-width: 50px; 
  }
  .stat-label {
    font-weight: 600; 
    font-size: 14px;
  }
  
  .stat-value {
    font-weight: 500; 
    font-size: 14px; 
  }
  @media (max-width: 1280px) {
    .weather-city {
      width: 450px;
    }
    .stats-grid {
      gap: 35px; 
    }
  }
  @media (min-width: 768px)  and (max-width: 1024px) {
    .weather-city {
      width: 50%;
      padding:45px;
    }
    .stat-item {
      min-width: 80px; 
    }
    .weather-stats {
      overflow: hidden; 
    }
    .stats-grid {
      gap: 35px; 
    }
    .weather-stats {
      width: 100%; 
      overflow-x: auto; 
    }
    .weather-details {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    
  }
  @media (max-width: 768px) {
    .weather-details {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    .weather-city {
      width: 400px;
    }
  }
  @media (max-width: 500px) {
    .weather-city{
      width: 90% ;
    }
    .stats-grid{
      gap: 35px; 
    }
  }
 
 
 
  